.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.intro-caption {
  background-color: black;
  padding: 5px;
}

.card-spacing {
  margin: 25px 0px;
}

.pad-bottom {
  margin-bottom: 15px;
}

.carousel-control-next, .carousel-control-prev {
  visibility: hidden;
}

.carousel-indicators {
  visibility: hidden;
}

.response-card {
  padding: 48px;
}

.card-img-bottom {
  /* padding: 20px 0px 0px 0px; */
  margin-top: 20px;
  object-fit: contain;
  height: 400px;
  opacity: .25;
}

.card-text {
  margin-top: 20px;
  text-align: left;
}

.spin-space {
  margin-top: 25px;
}
